:host {
    width: 100vw;
    background: #0000ff;
    color: #fff;
    display: flex;
    align-items: center;
    margin-left: -15px;
    margin-top: -15px;
    padding: 16px;
  
    
  }
  .header_logo {
    color: #fff;
  }