<app-header></app-header>
<div>
  <ul>
    <li>
      <h2>Single Responsibility:</h2>
      <p>A class should have one, and only one, reason to change</p>
    </li>
    <li>
      <h2>Open / Close:</h2>
      <p>
        Software entities should be open for extension, but closed for
        modification
      </p>
    </li>
    <li>
      Liskov Substitution
      <p>functions that use pointers or references to base classes must be able to use objects of derived classes without knowing it </p>
      <p> the methods of the supper class is be replaceable by child class without breaking them</p>
    </li>
    <li>
      Interface Segregation 
      <p>Many Client-specific interfaces are better than one general-purpure interface </p>
    </li>
    <li>
      Dependency Inversion 
      <p>High-level modules should not depend on low-level modules. both should depend on abstraction </p>
    </li>
  </ul>
</div>

<div class="content">
  <app-widget title="Context">
    <app-widget-only-context></app-widget-only-context>
  </app-widget>
  <app-widget title="Context & image">
    <app-widget-text-image></app-widget-text-image>
  </app-widget>
  <app-widget title="everything">
    <p>comming soon...</p>
  </app-widget>
</div>

<router-outlet></router-outlet>
